<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<footer th:fragment="footFragment">
  <div class="footer_main_div"  >
    <div class="footer_info_div">
      <p class="footer_info_p">Team : SoColl</p>
      <p class="footer_info_p">Team members : 김도희, 박승헌, 전상언, 주지훈</p>
      <p class="footer_info_p">Tel : 010-7307-4546</p>
      <p class="footer_info_p">창원대학교 정보통신공학과 이동통신연구실</p>
    </div>
  </div>
</footer>