<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<header th:replace="/nav :: navFragment(${userId})"></header>

<main>



    <div class="content_div">
        <div class="content_main_div">

            <div class="content_div_position">
                <div>
                    <div class="content_imgAndExplain_div">
                        <a href="/join"><img class="content_img" src="/image/회원등록.png"></a>
                    </div>
                    <div class="content_a_div">
                        <a class="content_a" href="/join">환자 등록</a>
                    </div>
                </div>
                <div>
                    <div class="content_imgAndExplain_div">
                        <a href="/rehabilitation/list"><img class="content_img" src="/image/재활조회.png"></a>
                    </div>
                    <div class="content_a_div">
                        <a class="content_a" href="/">재활 조회</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="/footer :: footFragment"></footer>


</body>
</html>