<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

<header>
  <nav th:fragment="navFragment(member)" >
    <div class="div_items_center">
      <a class="nav_title_a" href="/"><h1>SoCool</h1></a>
    </div>

    <div class="div_items_center">
      <ul>
        <li><a class="nav_a_black" href="#">로그인</a></li>
        <li><a class="nav_a_black" href="#">내정보</a></li>
      </ul>
    </div>
  </nav>
</header>